.git/
log/_
!log/.keep
app/assets/builds/_
!app/assets/builds/.keep
node_modules/
public/assets/
storage/_
!storage/.keep
tmp/_
!tmp/.keep

.bundle
.byebug_history
.dockerignore
.env*
!.env.example
config/master.key
docker-compose.override.yml
yarn-error.log
yarn-debug.log*
.yarn-integrity
