/.bundle/
/doc/
/log/*.log
/pkg/
/tmp/
/test/dummy/db/*.sqlite3
/test/dummy/db/*.sqlite3-*
/test/dummy/log/*.log
/engines/dynamic_links/test/dummy/log/*.log
/test/dummy/storage/
/test/dummy/tmp/
.env
coverage

# VS Code and Devcontainer specific
.vscode/*
# Uncomment the following lines if these configurations contain user-specific settings
# that shouldn't be shared with other developers
#!.vscode/settings.json
#!.vscode/tasks.json
#!.vscode/launch.json
#!.vscode/extensions.json
# Comment out the following lines if you want to share project-specific configurations
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/
.DS_Store
.ruby-version
node_modules
.claude-config
.claude
